.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 4rem auto;
    /* padding: 1rem; */
}

.welcome-logo{
    padding: 10px;
    overflow: hidden;
    width: 30%;
}

.welcome-logo img{
    object-fit: cover;
    height: 400px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    width: 50%;
    height: 100%;
}

.tagline{
    font-size: 55px;
    font-weight: 700;
    margin: 0px;
    color: var(--primary-color);
}

.welcome-text .brand-name{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 40px;
}

.welcome-text .brand-name img{
    width: 40px;
}

.btn1{
    font-size: 20px;
    padding: 5px 8px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 50px;
    width: 30%;
} 

.btn1:hover{
    color: var(--tertiary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.welcome h2{
    margin: 10px 0px;
}
p{
    
    font-size: 18px;
}