@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Cinzel:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: var(--background-color);
  }

  :root {
    --primary-color: #003355;
    --secondary-color: #526D82;
    --tertiary-color: #D6E6F2;
    --text-primary-color: #171010;
    --text-secondary-color: #423f3e;
    --text-tertiary-color: #c8cdd6;
    --background-color: #D8E3E7;
  }
  
  :link {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

 